# Replace these with your actual credentials in a private .env file
GROQ_API_KEY=your_groq_api_key_here

Coordinator_USER=user1@xmpp.jp
Coordinator_PASS=password123

planner_USER1=user2@xmpp.jp
planner_PASS1=password123

resource_USER2=user3@xmpp.jp
resource_PASS2=password123

XMPP_USER3=user4@xmpp.jp
XMPP_PASS3=password123